<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BenJi</key>
	<array>
		<string>五帝本紀第一</string>
		<string>夏本紀第二</string>
		<string>殷本紀第三</string>
		<string>周本紀第四</string>
		<string>秦本紀第五</string>
		<string>秦始皇本紀第六</string>
		<string>項羽本紀第七</string>
		<string>高祖本紀第八</string>
		<string>呂太后本紀第九</string>
		<string>孝文本紀第十</string>
		<string>孝景本紀第十一</string>
		<string>孝武本紀第十二</string>
	</array>
	<key>Biao</key>
	<array>
		<string>三代世表第一</string>
		<string>十二諸侯年表第二</string>
		<string>六國年表第三</string>
		<string>秦楚之際月表第四</string>
		<string>漢興以來諸侯王年表第五</string>
		<string>高祖功臣侯者年表第六</string>
		<string>惠景間侯者年表第七</string>
		<string>建元以來侯者年表第八</string>
		<string>建元以來王子侯者年表第九</string>
		<string>漢興以來將相名臣年表第十</string>
	</array>
	<key>Shu</key>
	<array>
		<string>禮書第一</string>
		<string>樂書第二</string>
		<string>律書第三</string>
		<string>曆書第四</string>
		<string>天官書第五</string>
		<string>封禪書第六</string>
		<string>河渠書第七</string>
		<string>平準書第八</string>
	</array>
	<key>ShiJia</key>
	<array>
		<string>三吳太伯世家第一</string>
		<string>齊太公世家第二</string>
		<string>魯周公世家第三</string>
		<string>燕召公世家第四</string>
		<string>管蔡世家第五</string>
		<string>陳杞世家第六</string>
		<string>衛康叔世家第七</string>
		<string>宋微子世家第八</string>
		<string>晉世家第九</string>
		<string>楚世家第十</string>
		<string>越王勾踐世家第十一</string>
		<string>鄭世家第十二</string>
		<string>趙世家第十三</string>
		<string>魏世家第十四</string>
		<string>韓世家第十五</string>
		<string>田敬仲完世家第十六</string>
		<string>孔子世家第十七</string>
		<string>陳涉世家第十八</string>
		<string>外戚世家第十九</string>
		<string>楚元王世家第二十</string>
		<string>荊燕世家第二十一</string>
		<string>齊悼惠王世家第二十二</string>
		<string>蕭相國世家第二十三</string>
		<string>曹相國世家第二十四</string>
		<string>留侯世家第二十五</string>
		<string>陳丞相世家第二十六</string>
		<string>絳侯周勃世家第二十七</string>
		<string>梁孝王世家第二十八</string>
		<string>五宗世家第二十九</string>
		<string>三王世家第三十</string>
	</array>
	<key>LieZhuan</key>
	<array>
		<string>伯夷列傳第一</string>
		<string>管晏列傳第二</string>
		<string>老子韓非列傳第三</string>
		<string>司馬穰苴列傳第四</string>
		<string>孫子吳起列傳第五</string>
		<string>伍子胥列傳第六</string>
		<string>仲尼弟子列傳第七</string>
		<string>商君列傳第八</string>
		<string>蘇秦列傳第九</string>
		<string>張儀列傳第十</string>
		<string>樗里子甘茂列傳第十一</string>
		<string>穰侯列傳第十二</string>
		<string>白起王翦列傳第十三</string>
		<string>孟子荀卿列傳第十四</string>
		<string>孟嘗君列傳第十五</string>
		<string>平原君虞卿第十六</string>
		<string>魏公子列傳第十七</string>
		<string>春申君列傳第十八</string>
		<string>范雎蔡澤列傳第十九</string>
		<string>樂毅列傳第二十</string>
		<string>廉頗藺相如列傳第二十一</string>
		<string>田單列傳第二十二</string>
		<string>魯仲連鄒陽列傳第二十三</string>
		<string>屈原賈生列傳第二十四</string>
		<string>呂不韋列傳第二十五</string>
		<string>刺客列傳第二十六</string>
		<string>李斯列傳第二十七</string>
		<string>蒙恬列傳第二十八</string>
		<string>張耳陳餘列傳第二十九</string>
		<string>魏豹彭越列傳三十</string>
		<string>黥布列傳第三十一</string>
		<string>淮陰侯列傳第三十二</string>
		<string>韓信盧綰列傳第三十三</string>
		<string>田儋列傳第三十四</string>
		<string>樊麗滕灌列傳第三十五</string>
		<string>張丞相列傳第三十六</string>
		<string>麗生陸賈列傳第三十七</string>
		<string>傅靳蒯成列傳第三十八</string>
		<string>劉敬叔孫通列傳第三十九</string>
		<string>季布欒布列傳第四十</string>
		<string>袁盎晁錯列傳第四十一</string>
		<string>張釋之馮唐列傳第四十二</string>
		<string>萬石張叔列傳第四十三</string>
		<string>田叔列傳第四十四</string>
		<string>扁鵲倉公列傳第四十五</string>
		<string>吳王劉濞列傳第四十六</string>
		<string>魏其武安侯列傳第四十七</string>
		<string>韓長孺列傳第四十八</string>
		<string>李將軍列傳第四十九</string>
		<string>匈奴列傳第五十</string>
		<string>衛將軍驃騎列傳第五十一</string>
		<string>平津侯主父列傳第五十二</string>
		<string>南越列傳第五十三</string>
		<string>東越列傳第五十四</string>
		<string>朝鮮列傳第五十五</string>
		<string>西南夷列傳第五十六</string>
		<string>司馬相如列傳第五十七</string>
		<string>淮南衡山列傳第五十八</string>
		<string>循吏列傳第五十九</string>
		<string>汲鄭列傳第六十</string>
		<string>儒林列傳第六十一</string>
		<string>酷吏列傳第六十二</string>
		<string>大宛列傳第六十三</string>
		<string>遊俠列傳第六十四</string>
		<string>佞幸列傳第六十五</string>
		<string>滑稽列傳第六十六</string>
		<string>日者列傳第六十七</string>
		<string>龜策列傳第六十八</string>
		<string>貨殖列傳第六十九</string>
		<string>太史公自序第七十</string>
	</array>
</dict>
</plist>
